<div class="container-fluid">
    <h1>{{ title }}</h1>
    <div [formGroup]="form" class="form-container">
        <div class="row form-group">
            <div class="col-6 inner-input left-input">
                <fa-icon [icon]="icons.search"
                         class="icon-search"></fa-icon>
                <input type="text"
                       class="form-control"
                       formControlName="q">
            </div>
            <button type="button"
                    class="col-3 btn-secondary"
                    (click)="searchByCriteria()">
                Search
                <fa-icon [icon]="icons.arrow"></fa-icon>
            </button>
            <button type="button"
                    class="col-3 btn-danger"
                    (click)="cleanMap()">
                Reset
                <fa-icon [icon]="icons.clean"></fa-icon>
            </button>
        </div>
    </div>
    <div class="map-container">
        <app-map #openMap
                 [model]="searchData"></app-map>
    </div>
</div>