.container-fluid {
  h1 {
    margin-top: 25px;
  }

  .form-container {
    margin-top: 25px;
  }

  .map-container {
    margin-top: 25px;
  }
}

.inner-input {
  position: relative;

  .icon-search {
    position: absolute;
    padding: 1px 25px;
    pointer-events: none;
    font-size: 25px;
  }
}

.left-input {

  .icon-search {
    left: 0px;
  }

  input {
    padding-left: 50px;
  }
}

.right-input {

  .icon-search {
    right: 0px;
  }

  input {
    padding-right: 50px;
  }
}

button {
  fa-icon {
    margin-left: 10px;
  }
}
