<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand">
        <img src="assets/logo.png"
             width="90"
             height="30"
             class="d-inline-block align-top"
             alt="">
        Main Street | @2019 Roberto Zazo
    </a>
</nav>