<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"
       routerLink="/home">
        <img src="assets/logo.png"
             width="90"
             height="30"
             class="d-inline-block align-top"
             alt="">
    </a>
    <div class="collapse navbar-collapse"
         id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"
                *ngFor="let route of routes | filter: 'path': '**'">
                <a class="nav-link"
                   [routerLink]="route.path"
                   routerLinkActive="active">
                    {{ route.path | uppercase }}
                </a>
            </li>
        </ul>
    </div>
</nav>
